<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<h4 ng-show="edit" class="modal-title">Modify Speaker</h4>
	<h4 ng-hide="edit" class="modal-title">Add a Speaker</h4>
</div>
<div class="modal-body">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" placeholder="John Doe" ng-model="speaker.name">
	</div>
	<div class="form-group">
		<label>Session</label>
		<input type="text" class="form-control" placeholder="Opening Session" ng-model="speaker.session">
	</div>
	<div class="form-group">
		<label>Date</label>
		<div>
			<div style="display:inline-block;">
				<datepicker ng-model="speaker.day" show-weeks='false' class="well well-xs"></datepicker>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Session Start and End Time</label>
		<div>
			<div style="display:inline-block;">
				<div class="well well-sm">
					<timepicker ng-model="speaker.stime" minute-step="15" hour-step="1" show-meridian="true"></timepicker>
					<h6 class="text-center">Start Time</h6>
				</div>
			</div>
			<div style="display:inline-block;">
				<div class="well well-sm">
					<timepicker ng-model="speaker.ftime" minute-step="15" hour-step="1" show-meridian="true"></timepicker>
					<h6 class="text-center">End Time</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Location</label>
		<input type="text" class="form-control" placeholder="Grand Ballroom" ng-model="speaker.location">
	</div>
	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-control" ng-model="speaker.title" placeholder="Title of Talk">
	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>