<div class="page-header"><h3>Welcome to the RMACRAO Web Application</h3></div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Getting Started
			</div>
			<div class="panel-body">
				<p>To begin start on the year page and add a new year. Then from there you can add sessions and events, speakers, and exhibitors from the other pages. All of this information will then be pushed to the RMACRAO app.</p>

				<div class="alert alert-warning">
					<p>Be sure that you spell everything correctly and that everything is formatted as you would like. The information entered in this application will be pushed to the app as it is.</p>
				</div>
			</div>
		</div>
	</div>
</div>