a {
    cursor:pointer;
}
.page-header {
    margin-top:0;
}
.btn-file {
    position: relative;
    overflow: visible;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor:pointer;
    display: block;
}
.logo {
    max-width:200px;
    max-height:200px;
}
.map {
    max-width: 100%;
}